<main class="min-h-screen">
  <page-title [pageHeading]="'subscription'" [breadCurmb]="breadCrumbs"></page-title>
  @if (loading) {
  <loading-spinner />

  }@else {
  <div class="container mt-10">
    <div class="lg:w-10/12 mx-auto card-shadow rounded-md p-5 ">
      <h2 class="text-[30px] text-center mb-5">
        {{'process'|translate}}
        <span class="text-primary">{{'subscription_and_payment'|translate}}</span>
      </h2>
      <div class="lg:w-11/12 mx-auto card-shadow rounded-md p-5  mt-5">
        <h3 class="text-primary">
          {{'payment_process_summary'|translate}}
        </h3>
        <ul class="mt-5">
          @for (item of paymentProcessItems; track $index) {
          <li class="flex items-center justify-between mb-5">
            <span class="text-gray-400">
              {{item.title|translate}}
            </span>
            <span class="text-gray-300">
              {{packageItem&&packageItem[item.valueKey]}} {{'sar'|translate}}
            </span>
          </li>
          }
        </ul>
        <hr class="text-gray-200" />
        <div class="mt-3">
          @if (!couponDiscount){
          <h3 class="text-info">
            {{'add_coupon'|translate}}
          </h3>
          }
          <div class="flex items-center justify-between gap-5 mt-2 flex-wrap lg:flex-nowrap">
            @if (!couponDiscount) {
            <input [(ngModel)]="coupon" type="text" InputField [placeholder]="'enter_coupon'|translate"
              class="w-full bg-white border-light-gray border rounded-[8px] focus:border-info transition-all duration-150">
            <app-button [loading]="loadingCoupon" (click)="checkCoupon()" [disabled]="!coupon"
              class="w-[134px] h-[48px] disabled:bg-light-gray bg-info rounded-[8px]">
              {{'add'|translate}}
            </app-button>
            }@else{
            <div class="flex items-center gap-2">
              <h3 class="text-info">
                {{'discount_coupon'|translate}}
              </h3>
              <a (click)="removeCoupon()" class="cursor-pointer p-1 px-2 runded-md text-red-500 bg-red-100 text-sm">
                {{'remove'|translate}}
              </a>
            </div>
            <span class="text-gray-300">
              {{couponDiscount}} {{'sar'|translate}}
            </span>
            }

          </div>
        </div>
        <hr class="text-gray-200 my-5" />
        <div class="flex items-center justify-between">
          <span class="text-secondary">{{'total'|translate}}</span>
          <span class="text-secondary">
            {{packageItem.total}} {{'sar'|translate}}
          </span>
        </div>
      </div>
      <div class="lg:w-11/12 mx-auto mt-5">
        <ul>
          @for (item of paymentMethods; track $index) {
          <li>
            <label [for]="item.value"
              class="flex items-center transition-all border-light-gray border duration-200 ease-out  justify-between h-[60px] px-5 mb-4 rounded-[15px] card-shadow cursor-pointer"
              [class.border-primary]="item.value===paymentMethod">
              <div class="flex items-center gap-2">
                <input
                  class="appearance-none w-[24px] h-[24px] rounded-[50px] bg-white border-[4px] outline outline-1 outline-gray-500 border-white checked:bg-primary checked:outline-primary transition-all duration-200 ease-linear px-2 py-1  "
                  [(ngModel)]="paymentMethod" [value]="item.value" name="payment_method" type="radio" [id]="item.value">
                <span class="text-secondary text-[20px]">{{item.value |translate}}</span>
              </div>
              <img loading="lazy" class="max-w-full w-[100px] h-full object-fill"
                [src]="'/assets/images/' + item.icon" />
            </label>
          </li>
          }
        </ul>
        <app-button (click)="handlePayment()" class="w-full mx-auto lg:w-3/12 mt-5">
          {{'pay_now'|translate}}
        </app-button>
      </div>
    </div>
  </div>
  }

</main>