<button
  class="btn-primary  disabled:bg-light-gray disabled:shadow-none disabled:text-gray-400 disabled:border-0 overflow-hidden"
  [ngClass]="classNames" [disabled]="disabled">
  @if (!loading) {
  <ng-content></ng-content>

  }@else {
  <i class="fa-solid fa-spinner animate-spin"></i>
  }
</button>