<div class="mt-5">
  <div class="container">
    <div class="min-h-[50vh] bg-primary flex items-center flex-col gap-2 justify-center rounded-md shadow-md">
      <h1 class="text-center text-[35px] text-white">
        <div>
          {{ 'welcome_in'|translate }}
          <span class="text-orange">{{ 'saf_platform'|translate }}</span>
        </div>
      </h1>
      <h2 class="text-white text-[25px]">
        {{'email_has_been_sent'|translate }}
      </h2>
    </div>
  </div>
</div>