<main class="min-h-screen">
  <page-title pageHeading="presenter_details" [breadCurmb]="breadCrumb"></page-title>
  <div class="container mt-16">
    <presenter-card [navigation]="false" [item]="presenter" />
  </div>
  <section class="container mt-[100px]">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 min-h-fit gap-5">
      <div class="p-5 rounded-md card-shadow  min-h-fit col-span-3">
        <div class="flex items-center lg:items-start flex-col justify-center lg:justify-start lg:flex-row gap-4">
          <div class="h-[180px] w-[180px] rounded-[100%] overflow-hidden  bg-white shadow-2xl lg:translate-y-[-100px]">
            <img class="w-full h-full object-fill p-1 rounded-[100%]" [src]="presenter&&presenter.company_img"
              alt="photo" loading="lazy">
          </div>
          <div class="text-center lg:text-start">
            <h2 class="text-primary text-[25px] font-bold">
              {{presenter&&presenter.name}}
            </h2>
            <p class="text-[20px] text-gray">{{presenter&&presenter.country.name}}</p>
          </div>
        </div>
        <p class="leading-8 text-[20px] lg:mt-[-100px] text-secondary pt-6 text-center lg:text-start">
          {{presenter&&presenter.bio}}
        </p>
      </div>
      <div class="p-5 rounded-md card-shadow  min-h-fit">
        <h2 class="text-secondary text-[25px]">
          {{'contact_to_presenter'|translate}}
        </h2>
        <ul class="mt-2">
          @for (item of contactLinks; track $index) {
          <li class="flex items-center gap-3 mb-2">
            <i class="text-[20px] text-primary" [class]="item.icon"></i>
            <a class="text-[18px] text-gray-400" [href]="[item.href + (item.key&&presenter[item.key])]">
              {{item.key&&presenter&&presenter[item.key]}}
            </a>
          </li>
          }
        </ul>
        <ul class="mt-4 flex items-center gap-5">
          @for (item of socials; track $index) {
          <li class="flex items-center gap-3 mb-7">
            <a target="_blank"
              class=" h-[50px] w-[50px] flex items-center justify-center rounded-md p-4 border border-primary"
              [href]="presenter[item.value]">
              <i class="text-[30px] text-primary" [class]="item.icon"></i>
            </a>
          </li>
          }
        </ul>
        <div>
          <h2 class="text-secondary text-[25px]">{{'contact_whatsapp' | translate}}</h2>
          <a [href]="['https://wa.me/'+ presenter.whatsAPP]"
            class="flex items-center justify-center p-5 gap-2 h-[46px] bg-primary text-[20px] text-white rounded-[100px]">
            <i class="fa-brands fa-whatsapp"></i>
            <span class="mt-1">{{presenter.whatsAPP}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-20">
      @if (sliders.length>0) {
      <app-slider [slides]="sliders">
        <ng-template let-item="item" let-index="index" #swiperContent>
          <img loading="lazy" draggable="false" [src]="item.img" alt="photo"
            class="h-[500px] rounded-[16px] w-[95%] mx-auto object-fill ">
        </ng-template>
      </app-slider>
      }

      @if (products&&products.length>0) {
      <div class="mt-16">
        <section-title title="products"></section-title>
        @for (item of products; track $index) {
        <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <product-card [product]="item"></product-card>
        </div>
        }

      </div>
      }

    </div>
  </section>
</main>