<footer class="mt-[100px] pt-[40px] bg-secondary min-h-[300px] ">
  <div class="container ">
    <div class="grid grid-cols-1  lg:grid-cols-4 gap-5">
      <section>
        <ng-container *ngIf="homeService.contactInfo$ | async as contactInfo">
          <div class="flex items-center gap-3">
            <img loading="lazy" [src]="contactInfo.website_logo" alt="logo">
            <h2 class="text-white text-[20px] font-bold">
              {{contactInfo.website_name}}
            </h2>
          </div>
          <p class="text-gray mt-2 text-[20px]">
            {{contactInfo.website_bio}}
          </p>
        </ng-container>
        <div>
          <h2 class="text-white text-[20px] mt-4 font-bold">
            {{'newsletter'| translate}}
          </h2>
          <div class="flex items-center gap-2">
            <input class="flex-grow" #input type="text" appInput [placeholder]="'email'|translate" type="email">
            <app-button [loading]="loading" [disabled]="loading" (click)="sendEmail()"
              class="rounded  hover:shadow hover:bg-transparent hover:border hover:border-primary hover:text-primary border-transparent border">
              {{'send'| translate}}
            </app-button>
          </div>
        </div>
      </section>
      <section class="col-span-2 w-full md:w-8/12 mx-auto">
        <h2 class="text-[18px] text-white font-bold">
          {{'important_links' | translate}}
        </h2>
        <ul class="grid sm:grid-cols-2 mt-2">
          @for (item of important_links; track $index) {
          <li class="text-gray text-[18px]   leading-[50px]">
            <a [routerLink]="item.href">
              {{item.text |translate }}
            </a>
          </li>
          }
        </ul>
        <div class="mt-4">
          <h2 class="text-[18px] text-white font-bold">
            {{'follow_us' | translate}}
          </h2>
          <ul class="mt-5 text-gray flex items-center gap-3" *ngIf="homeService.contactInfo$ | async as contactInfo">
            @for (item of socialLinks; track $index) {
            <li>
              <a [href]="contactInfo&&contactInfo[item.text]" target="_blank" class="flex items-center gap-2">
                <i [ngClass]="item.icon"></i>
              </a>
            </li>
            }
          </ul>
        </div>
        <div class="mt-4">
          <h2 class="text-[18px] text-white font-bold">
            {{'download_app' | translate}}
          </h2>
          <div class="flex items-center gap-3 mt-3">
            <a href="">
              <img loading="lazy" src="/assets/images/ios.svg" alt="ios">
            </a>
            <a href="">
              <img loading="lazy" src="/assets/images/android.svg" alt="android">

            </a>
          </div>

        </div>
      </section>
      <section>
        <h2 class="text-[18px] text-white mb-4 font-bold">
          {{'contact_with_us' | translate}}
        </h2>
        <div *ngIf="(homeService.contactInfo$ | async) as contactInfo">
          {{contactInfo['latitude']}}
          <app-google-map height="200px"
            [center]="{lat:parseInt(contactInfo['latitude']),lng: parseInt(contactInfo['longitude'])}"></app-google-map>
        </div>


        <ul class="mt-5 text-gray leading-10" *ngIf="(homeService.contactInfo$ | async) as contactInfo">
          @for (item of contactLinks; track $index) {
          <li>
            <a [href]="[item.href?item.href+contactInfo[item.text]:'']" class="flex items-center gap-2">
              <i [ngClass]="item.icon" class="text-primary"></i>
              <span class="mt-1">{{contactInfo[item.text]}}</span>
            </a>
          </li>
          }
        </ul>

      </section>
    </div>
  </div>
  <hr class="bg-slate-500 h-[2px] mt-3" />
  <div class="container flex items-center justify-center md:justify-between flex-col md:flex-row py-6">
    <div class="text-light-gray">
      {{'all_rights'|translate}}<span class="text-primary px-2">{{'saf_company'|translate}}</span>
    </div>
    <div class="flex items-center">
      <img loading="lazy" class="w-[70px]" src="/assets/images/Badge.png" />
      <img loading="lazy" class="w-[70px]" src="/assets/images/paypal.png" />
      <img loading="lazy" class="w-[70px]" src="/assets/images/master.png" />
      <img loading="lazy" class="w-[70px]" src="/assets/images/visa.png" />
    </div>
  </div>
</footer>