<main class="min-h-screen">
  <page-title appShimmerLoading [loading]="loading" [pageHeading]="staticData.title"></page-title>
  <div class="container mt-[50px]" appShimmerLoading [loading]="loading">
    <p class="leading-7 text-secondary text-[18px]">{{staticData.content}}</p>
  </div>
</main>