<main class="rounded-lg lg:w-[60vw] w-[98vw] min-h-[200px] max-h-[90vh] overflow-auto bg-white relative pt-10 px-5 "
  (click)="$event.stopPropagation()">
  <app-loader [loading]="loading" [notFound]="false">
    <i class="fa-solid fa-close text-[25px] cursor-pointer absolute top-5 left-5" (click)="handleClose()">
    </i>
    <div class="container">
      <section-title title="product_details"></section-title>
      <div class="py-5">
        <app-slider [slides]="product.images" [pagination]="false" (onSlide)="activeIndex=$event">
          <ng-template let-item="item" let-index="index" #swiperContent>
            <img draggable="false" [src]="product.images[activeIndex]['img']" alt="photo" loading="lazy"
              class="h-[200px] lg:h-[500px]    rounded-[16px] w-[95%] mx-auto object-fill">
          </ng-template>
        </app-slider>
        <div class="py-5">
          <app-slider [slides]="product.images" [pagination]="false" [navigation]="false" [breakPoints]="breakPoints">
            <ng-template let-item="item" let-index="index" #swiperContent>
              <img (click)="activeIndex=index" draggable="false" [src]="item.img" alt="photo" loading="lazy"
                class=" h-[100px] lg:h-[200px]  object-fill w-full rounded">
            </ng-template>
          </app-slider>
        </div>
      </div>
      <div class="mt-5">
        <h2 class="text-secondary text-[25px]">{{product.name}}</h2>
        <div>
          <strong class="text-[28px] text-primary">
            {{price}} {{selectedCurrency|translate}}
          </strong>
          @if (priceAfter) {
          <span class="text-gray line-through text-[20px]">{{priceAfter}} {{selectedCurrency|translate}}</span>
          }
        </div>
      </div>
      <div class="mt-5">
        <h2 class="text-secondary text-[25px]">{{'about_product'|translate}}</h2>
        <p class="leading-5 text-secondary">
          {{product.bio}}
        </p>
      </div>
      <div class="flex gap-4 justify-center items-center my-5 lg:flex-row flex-col  ">
        <app-button [loading]="statusLoading.liked" (click)="handleStatus('liked')" [class]="['rounded-[100px]','']"
          class="w-full rounded-[100px]" [class]="product.is_liked == 'liked'?'btn-primary ':'btn-outline'">
          <div>
            <i class="fa-solid fa-thumbs-up"></i>
            {{'liked'|translate}}
          </div>
        </app-button>
        <app-button [loading]="statusLoading.dislike" (click)="handleStatus('dislike')" class="rounded-[100px] w-full"
          [class]="product.is_liked == 'dislike'?'btn-red ':'btn-outline-red'">
          <div>
            <i class="fa-solid fa-thumbs-down"></i>
            {{'disliked'|translate}}
          </div>
        </app-button>
      </div>
    </div>
  </app-loader>

</main>