:host {
  @apply block min-h-[100px];
  ::ng-deep {
    input,
    textarea {
      @apply transition-all;
      &.ng-dirty.ng-touched.ng-invalid {
        @apply border border-red-700;
      }
      &.ng-pristine.ng-touched.ng-invalid {
        @apply border border-red-700;
      }
    }
  }
}
