<div class="flex flex-col relative gap-2">
  <ng-content></ng-content>
  <div class="px-2  text-red-500 text-sm absolute bottom-[-24px]" [@errorMessage]="control.invalid && control.touched"
    *ngIf="inValid">
    <!-- {{ validationMessage }} -->
    {{ getNestedValidationMessage(control) }}
  </div>
</div>