<main class="container mt-5">
  <div class="w-full lg:w-8/12 mx-auto">
    <app-tabs [value]="value" (onClick)="onTab($event)" [tabs]="tabs"></app-tabs>
    <div class="mt-10">
      <p appShimmerLoading [loading]="fetching"
        class="text-[26px] min-h-[100px] leading-9 font-light lg:text-center text-justify">
        {{textContent.content}}</p>
    </div>
    <img loading="lazy" class="w-full h-full object-fill my-10" [src]="Img" alt="photo">

    <div class="w-full lg:w-3/12 mx-auto">
      <app-button (click)="handleSubmit()" [loading]="loading">
        {{value|translate}}
      </app-button>
    </div>
  </div>
</main>