<main class="min-h-screen">
  <page-title [pageHeading]="storeName" [breadCurmb]="breadCrumb"></page-title>
  <div class="container mt-7">
    <div class="my-10 flex items-center flex-wrap sm:flex-nowrap gap-5">
      <search-filter>
        <input [(ngModel)]="queryString.search" type="text" class="input-field w-full "
          [placeholder]="'search'|translate">
      </search-filter>
      <div class="w-[220px]">
        <app-button (click)="onFilter()">
          {{'search_for_presenter' |translate}}
        </app-button>
      </div>
    </div>
    <div class="w-[250px] mb-10">
      <select-filter (onChange)="handleFilter($event)" [options]="options" label="sort_by"></select-filter>
    </div>

    <app-loader [loading]="loading" [items]="presenters">
      @for (item of presenters; track $index) {
      <presenter-card [item]="item" />
      }
    </app-loader>

    <div>
      @if (metaOption.last_page>metaOption.current_page) {
      <app-button (click)="loadMore()" [loading]="loadingMore" class="w-[300px] mt-10 mx-auto btn-outline">
        {{'see_more'|translate}}
      </app-button>
      }
    </div>

  </div>
</main>