<main>
  @if (loading) {
  <loading-spinner></loading-spinner>
  }@else if (items.length==0 && notFound) {
  <img loading="lazy" width="100" height="100" class="mx-auto" src="/assets/images/no_result.png" alt="photo">

  }@else {
  <ng-content></ng-content>
  }

</main>