<div class="h-screen flex items-center justify-center flex-col">
  <img class="object-fill max-w-full h-[500px]" src="/assets/images/not_found.jpg" alt="not found">
  <a routerLink="/"
    class="flex py-2 px-4 h-[46px] rounded-md justify-center items-center text-lg bg-primary text-white">
    {{'go_home'|translate}}
  </a>
</div>