<div class="flex items-center gap-[20px]">
  <span class="inline-block w-[10px] h-[65px] bg-primary"></span>
  <h2 class="text-primary text-[32px] font-medium">
    @if (title) {
    <span>{{title|translate}}</span>

    }
    <ng-content></ng-content>
  </h2>
</div>