<main>
  <page-title [pageHeading]="'subscription'" [breadCurmb]="breadCrumbs"></page-title>
  <div class="mt-4 container rounded-md shadow-lg px-7 py-10">
    <div>
      <h1 class="text-center text-[30px]">
        <span class="d-inline-block">{{ "types_of"|translate }}</span>
        <span class="text-primary ">
          {{"subsciptions" |translate}}
        </span>
        <span>{{ "in_the_system" |translate }}</span>
      </h1>
    </div>
    <div class="mt-5 grid grid-cols-1 lg:grid-cols-3 gap-4">
      @for (item of items; track $index) {
      <package-card [class]="[$index==1?'active-package':'']" [item]="item"></package-card>
      }
    </div>
  </div>
</main>