<div class="relative  client-card h-[400px] border border-primary rounded-lg lg:w-[96%] ">
  <img width="90" height="90" src="/assets/images/active.svg" alt="photo"
    class="active-quote absolute top-5 rtl:left-5 ltr:right-5">
  <img width="90" height="90" src="/assets/images/unActive.svg" alt="photo"
    class="unActive-quote absolute top-5 rtl:left-5 ltr:right-5">
  <div class="flex flex-col items-center lg:flex-row lg:items-end px-3 translate-y-[-70px] gap-3 ">
    <div class="h-[150px] w-[150px] overflow-hidden rounded-[50%] shadow-md bg-white ">
      <img loading="lazy" class="w-full h-full object-fill p-1   rounded-[50%]" [src]="client.img" alt="photo">
    </div>
    <div class="text-center md:text-start ">
      <h2 class="text-[25px] text-primary font-bold">
        {{client.name}}
      </h2>
      <h4 class="text-[18px] text-gray">{{client.job_name}}</h4>
    </div>
  </div>
  <div class="px-5 md:px-10 mt-[-30px]">
    <p class="text-[20px] leading-8 text-gray">
      {{client.message}}
    </p>
  </div>
</div>