<div class="relative ">
  <div class="flex items-center cursor-pointer" InputField>
    <div class="flex items-center flex-wrap w-full">
      @if (multiple && selectedListValue) {
      <span class="p-2 flex flex-wrap items-center max-w-fit" (click)="!loading && onToggleMenu()">
        {{selectedListValue}}
      </span>
      }

      <input [(ngModel)]="search" (input)="onResetSelectedValue()" (blur)="onTouched()" [value]="selectValue"
        (click)="!loading && onToggleMenu()" InputField class="w-full cursor-pointer" [placeholder]="placeholder"
        [readonly]="!autocomplete" />
    </div>
    @if (!loading) {
    <i class="fa-solid fa-chevron-down transition-all duration-200" [class]="showMenu?'rotate-180':'rotate-0'"></i>
    }@else {
    <i class="fa-solid fa-spinner animate-spin"></i>
    }
  </div>
  <div #menu class="absolute z-20 bg-white w-full max-h-[300px] overflow-y-auto shadow-md transition-all duration-200 "
    [class]="showMenu?'py-4 h-fit opacity-100':'p-0 h-0 opacity-0'">
    @if (items.length > 0 && (items | filter:itemKey:search).length>0) {
    <ul>
      @for (item of items | filter:itemKey:search; track $index) {
      <li [class]="activeSelect(item)" (click)="onSelect(item)"
        class="mb-3 cursor-pointer text-lg text-slate-700 px-3 py-2">
        {{item&&item[itemKey]}}
      </li>
      }
    </ul>

    }@else {
    <p class="text-center">{{'no_result'|translate}}</p>
    }

  </div>


</div>