<div class="rounded-md card-shadow ">
  <div class="h-[300px] relative">
    <div *ngIf="discount"
      class="bg-red-500 text-white  flex items-center flex-col justify-center gap-1 rounded-tr-2xl rounded-bl-2xl w-fit absolute top-0 left-0 h-fit p-4">
      <p>
        %{{discount}}
      </p>
      <span>
        {{'discount' | translate}}
      </span>
    </div>
    <img [src]="product.cover_img" alt="photo" loading="lazy" class="object-fill h-full rounded-ss-md">
  </div>
  <div class="mt-4 px-4">
    <h3 class="text-primary ">
      {{'product_name'|translate}}
    </h3>
    <h2 class="text-[18px]">
      {{product.name}}
    </h2>
    <h3 class="text-primary mt-3">
      {{'details'|translate}}
    </h3>
    <p class="leading-7 text-secondary text-[18px]">
      {{productBio}}
      <a class="text-primary text-sm cursor-pointer" (click)="readMore()"
        *ngIf="canReaMore">{{'read_more'|translate}}</a>
    </p>
    <div class="mt-3 flex items-center gap-4">
      <strong class="text-primary text-2xl">{{price}}
        {{selectedCurrency|translate}}</strong>
      <span class="text-gray line-through" *ngIf="priceAfter">
        {{priceAfter}} {{selectedCurrency|translate}}
      </span>
    </div>
    <div class="py-4">
      <app-button class="btn-outline" (click)="showDialog()">
        {{'product_details'|translate}}
      </app-button>
    </div>
  </div>
</div>
<app-dialog>
  <ng-template #dialogContent let-dialog="dialog">
    <product-details [id]="product.id" (onClose)="showDialog()" [dialog]="dialog" />
  </ng-template>
</app-dialog>