<main class="min-h-screen">
  <page-title pageHeading="latest_store"></page-title>
  <div class="container mt-10">

    <app-loader [loading]="loading" [items]="stores">
      <app-stores [items]="stores" [seeMore]="false" [loading]="loading" [metaOption]="metaOption"
        (onLoadMore)="loadMore()" />
    </app-loader>

  </div>
</main>