<div class="bg-light-gray min-h-[181px] flex flex-col items-center justify-center">
  @if (pageHeading) {
  <h1 class="text-[40px] text-center">
    {{pageHeading|translate}}
  </h1>
  }@else {
  <ng-content select="[page-title]"></ng-content>
  }
  <div class="mt-5 flex gap-2 items-center">
    @for (item of breadCurmb; track $index; let lastIndex=$last;) {
    <a [routerLink]="item.active?item.to:null" class="flex gap-3 items-center"
      [class]="[!item.active?'text-primary':'text-gray-400']">
      {{item.text | translate}}
    </a>
    @if (!lastIndex) {
    <span class="text-gray-400">/</span>
    }
    }
  </div>
</div>