<main class="min-h-screen">
  <page-title pageHeading="sections"></page-title>
  <div class="px-5">
    <div class="mt-4" *ngIf="sections$|async as sections">
      <app-slider [slides]="sections" [breakPoints]="breakPoints">
        <ng-template let-item="item" let-index="index" #swiperContent>
          <section-card #sectionCard [item]="item" (click)="onSelectSection(item)"
            [class]="(activeSection && activeSection.id===item.id)?'active-section':''" />
        </ng-template>
      </app-slider>
    </div>
  </div>

  <div class="container" *ngIf="(stores.length>0)">
    <app-stores [items]="stores" [sectionTitle]="activeSection.name" [seeMore]="false" [metaOption]="metaOption"
      (onLoadMore)="loadMore()" [loading]="loading" />

  </div>

</main>