<main class="min-h-screen">
  <page-title pageHeading="common_questions"></page-title>
  <div class="container mt-10">
    <div class="grid grid-cols-1 md:grid-cols-3 items-center">
      <div class="col-span-2 md:order-first order-last">
        <ng-container *ngIf="questions$ |async as questions">
          <app-collapse [items]="questions" />
        </ng-container>
      </div>
      <div class="flex justify-center mb-10 ">
        <img loading="lazy" src="/assets/images/common_question.svg" alt="photo" height="300" width="300">
      </div>
    </div>
  </div>
</main>