<div class="h-fit shadow-xl  rounded-md package-card py-5">
  <div class="py-4 border-b-[1px] border-light-gray flex flex-col justify-center items-center relative">
    <h2 class="text-primary text-[25px]">
      {{'subscription'|translate}}
    </h2>
    <span class="w-[63px] hint-border bg-primary h-[3px] block absolute bottom-[-2px]"></span>
  </div>
  <div class="p-4">
    <h3 class="mt-6 mb-10 text-center my-4">
      <span class="text-[40px] text-secondary price"> {{item.price}}ر.س </span>
      <sub class="text-[20px] text-gray price-duration"> / {{ item.duration.type}}</sub>
    </h3>
    <a [routerLink]="['/subscription','checkout',userId,item.id]" [queryParams]="{store_id:store_id}"
      class="subscription-button outline-none h-[48px] w-[243px] flex items-center justify-center mx-auto text-[20px] rounded-[100px] border border-primary text-primary transition-all duration-300 hover:bg-primary hover:text-white">
      {{'subscription' |translate}}
    </a>

  </div>
  <div class="py-4 border-b-[1px] border-light-gray footer-border w-full">
    <h3 class="text-[20px] snippet px-4">
      {{'subscription_feature'|translate}}
    </h3>
  </div>
  <div class="p-4" [innerHTML]="item.description">

    <!-- <ul>
      <li class="flex items-center gap-2">
        <i class="fa-solid fa-check text-primary text-[18px]"></i>
        <span class="text-gray mt-1">
          offer and features
        </span>
      </li>
    </ul> -->
  </div>
</div>