<div class="flex items-center flex-col justify-center gap-5 cursor-pointer min-h-[300px]  ">
  <div class="h-[150px] w-[150px] ">
    <img draggable="false" [src]="item.img" alt="photo"
      class="object-fill w-[100%] h-[100%] rounded-[50%]  border-[2px] border-transparent transition-all duration-300"
      loading="lazy">
  </div>
  <h3 class="text-[18px] text-gray transition-all duration-300">
    {{item.name}}
  </h3>
</div>