<section class="bg-primary ">
  <div
    class="container flex justify-center gap-2 py-3 flex-col sm:flex-row sm:justify-between items-center  min-h-[64px]">
    <div class="flex items-center gap-2">
      @for (item of contactLinks; track $index) {
      @if ($index !==1) {
      <a [href]="item.href" class="text-white flex items-center gap-3">
        <span>{{item.value}}</span>
        <i class="fa-solid mt-[-7px]" [class]="item.icon"></i>
      </a>
      }

      @if ($index==1) {
      <app-divider class="bg-white" />
      }
      }

    </div>

    <div class="flex gap-3 items-center flex-wrap justify-center lg:justify-normal">
      <div class="min-w-[120px]">
        <app-dropdown>
          <div selected-item class="flex items-center gap-2">
            <img width="20" height="20" src="/assets/images/currency.svg" alt="flag">
            <span class="text-white">{{'currency'|translate}}</span>
          </div>
          <ul options class=" flex flex-col gap-4">
            @for (item of currencies; track $index) {
            <li (click)="changeCurrency(item.value)"
              [ngClass]="{'bg-primary': item.value === activeCurrency,'text-white': item.value === activeCurrency}"
              class="cursor-pointer flex items-center gap-2 p-2">
              <span>{{item.text}}</span>
            </li>
            }
          </ul>
        </app-dropdown>
      </div>
      <app-divider class="bg-white" />

      <div class="min-w-[120px]">
        <app-dropdown>
          <div selected-item class="flex items-center gap-2">
            <img width="20" height="20" [src]="currentLang.flag" alt="flag">
            <span class="text-white">{{currentLang.text}}</span>
          </div>
          <ul options class=" flex flex-col gap-4">
            @for (item of languages; track $index) {
            <li (click)="changeLang()"
              [ngClass]="{'bg-primary': item.locale === currentLang.locale,'text-white': item.locale === currentLang.locale}"
              class="cursor-pointer flex items-center gap-2 p-2">
              <img width="20" height="20" [src]="item.flag" alt="flag">
              <span>{{item.text}}</span>
            </li>
            }
          </ul>
        </app-dropdown>
      </div>

      <app-divider class="bg-white hidden md:block " />
      <div class="flex gap-3 items-center mt-1 ">
        @for (social of socials; track $index) {
        <a [href]="social.value" target="_blank">
          <i class="fa-brands  text-white" [class]="social.icon"></i>
        </a>
        }
      </div>

    </div>

  </div>
</section>