<main class="min-h-screen">
  <page-title [pageHeading]="'subscription'" [breadCurmb]="breadCrumbs"></page-title>
  <div class="container mt-10">
    <div class="lg:w-8/12 mx-auto card-shadow rounded-md p-5 ">

      <h2 class="text-[30px] text-center mb-5">
        {{'welcome'|translate}}
        <span class="text-primary">{{'saf'|translate}}</span>
      </h2>
      <form [formGroup]="form">
        <div class="grid grid-cols-1 gap-3">
          <app-form-group [control]="form.get('company_name')">
            <label for="company_name">
              {{'company_name'|translate}}
            </label>
            <input formControlName="company_name" id="company_name" type="text" InputField
              [placeholder]="'enter_company_name'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('company_image')">
            <label for="company_image">
              {{'company_image'|translate}}
            </label>
            <file-upload formControlName="company_image" placeholder="upload_company_image"></file-upload>
          </app-form-group>
          <app-form-group [control]="form.get('commericalRegister_img')" class="my-3">
            <label for="commericalRegister_img">
              {{'commericalRegister_img'|translate}}
            </label>
            <file-upload formControlName="commericalRegister_img"
              placeholder="upload_commericalRegister_img"></file-upload>
          </app-form-group>
          <app-form-group [control]="form.get('tax_record')">
            <label for="tax_record">
              {{'tax_record'|translate}}
            </label>
            <input formControlName="tax_record" id="tax_record" type="number" InputField
              [placeholder]="'enter_tax_record'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('store_id')">
            <label for="stores">
              {{'stores'|translate}}
            </label>
            <app-select [returnObject]="true" [autocomplete]="true" formControlName="store_id" [loading]="loadingStores"
              id="store_id" [placeholder]="'choose_store'|translate" [items]="stores" itemKey="name"
              itemValue="id"></app-select>
          </app-form-group>
        </div>

        <div class="w-full lg:w-4/12 mx-auto mt-4">
          <app-button [loading]="loading" (click)="onSubmit()">
            {{"next"|translate}}
          </app-button>
        </div>
      </form>

    </div>
  </div>
</main>