<header>
  <div class="container my-5">
    <nav class="flex items-center justify-between  min-h-[64px] bg-white">
      <div class="flex items-center gap-5">
        <div class="hidden sm:block">
          <a routerLink="/"><img src="assets/images/logo.svg" alt="logo"></a>
        </div>
        <ul class=" hidden sm:flex gap-5">
          <li *ngFor="let nav of navLinks let index=index">
            <a [routerLink]="nav.href" routerLinkActive="active-link text-primary"
              [routerLinkActiveOptions]="{exact:true}" class="relative py-2">
              {{nav.text | translate}}
              <i *ngIf="index==1" class="fa-solid fa-chevron-down text-[12px]"></i> </a>
          </li>

        </ul>
        <div (click)="onToggle()"
          class=" sm:hidden cursor-pointer w-[50px] h-[50px] bg-primary rounded-[100%] flex justify-center items-center">
          <i class="fa-solid fa-bars text-[20px]  text-white"></i>

        </div>
      </div>
      <app-button class=" w-[150px] md:w-[200px]" routerLink="/subscription">
        {{'subscriber'|translate}}
      </app-button>
    </nav>
  </div>
  <side-bar />
</header>