<main class="min-h-screen">
  <page-title [breadCurmb]="breadCrumb" pageHeading="subscription">
  </page-title>
  <div class="container mt-5">
    <div [@slideAnimation]="active_index">
      <div #container></div>
    </div>
  </div>
</main>