<div
  class="flex justify-center items-center relative border-dashed border-gray-400 h-[150px] rounded border overflow-hidden">
  <div *ngIf="!imgUrl" class="cursor-pointer w-full h-full flex justify-center items-center flex-col gap-3"
    (click)="input_file.click()">
    <i class="fa-solid fa-cloud-arrow-up text-[30px]"></i>
    <p class="capitalize text-[20px] text-slate-700">
      {{placeholder|translate}}
    </p>
    <div class="bg-primary h-[30px] w-[30px] rounded flex p-2 items-center justify-center">
      <i class="fa-solid fa-plus text-[20px] text-white"></i>
    </div>
  </div>
  <div *ngIf="imgUrl" class="absolute top-0 left-0 bottom-0 right-0 w-full h-full transition-all duration-500">
    <img loading="lazy" [src]="imgUrl" class="h-[200px] w-full object-fill" alt="file upload" loading="eager">
    <button (click)="onRemoveFile(input_file)" title="remove file upload"
      class="absolute left-[10px] top-[10px] bg-red-800 text-white rounded-[50%] h-[20px] w-[20px] flex justify-center items-center">x</button>
  </div>

</div>
<input (change)="onFileChange($event)" type="file" hidden #input_file [accept]="accept">