<section class="mt-6">
  <section-title [title]="sectionTitle" />

  <div class="flex flex-wrap mt-4 ">
    @for (item of items; track $index) {
    <div class="w-full p-2" [ngClass]="[$index==0?'lg:w-8/12':'lg:w-4/12']">
      <store-card [item]="item" />
    </div>
    }
  </div>
  @if (seeMore) {
  <app-button routerLink="/latest-store" class="w-[300px] mt-10 mx-auto btn-outline">
    {{'see_more'|translate}}
  </app-button>

  }@else{
  @if (metaOption.last_page>metaOption.current_page) {
  <app-button (click)="loadMore()" [loading]="loading" class="w-[300px] mt-10 mx-auto btn-outline">
    {{'see_more'|translate}}
  </app-button>
  }
  }

</section>