<div
  class="fixed z-40 bg-primary h-screen w-screen top-0 left-0 bottom-0 right-0  sm:hidden transition-all duration-500 translate-x-[0%] origin-center flex justify-center items-center"
  [class]="{'translate-x-[100%]':!show}">
  <i (click)="toggleShow()" class="fa-solid fa-close text-[30px] text-white absolute top-[20px] left-[20px]"></i>
  <div>
    <ul class="flex flex-col justify-center gap-5 w-[300px] mx-auto text-center">
      <li class="text-white" (click)="toggleShow()" *ngFor="let nav of navLinks let index=index">
        <a [routerLink]="nav.href" routerLinkActive="text-primary bg-white rounded"
          [routerLinkActiveOptions]="{exact:true}" class="relative py-2 gap-1 w-full flex justify-center items-center ">
          {{nav.text | translate}}
          <i *ngIf="index==1" class="fa-solid fa-chevron-down mt-[-8px]"></i> </a>
      </li>

    </ul>
  </div>
</div>