<div class="flex items-center gap-3 w-fit" (click)="toggleShow()">
  <label [for]="label" class="text-secondary text-[16px] min-w-fit">
    {{label|translate}}
  </label>
  <div class="relative">
    <div class="flex items-center">
      <div class="outline-none text-primary font-bold w-fit  min-w-[135px]">
        {{selectValue.text|translate}}
      </div>

      <i class="fa-solid fa-caret-down transition-all duration-200 tex-[14] "
        [class]="[showMenu?'rotate-180':'rotate-0',selectValue.text?'text-primary':'text-gray']"></i>
    </div>
    <div #menu
      class="absolute z-20 bg-white w-full max-h-[300px] overflow-y-auto shadow-md transition-all duration-200 "
      [class]="showMenu?'py-4 h-fit opacity-100':'p-0 h-0 opacity-0 hidden'">
      @if (options.length > 0 ) {
      <ul>
        @for (item of options; track $index) {
        <li (click)="onSelect(item)" [class]="activeSelect(item)"
          class="mb-3 cursor-pointer text-lg text-slate-700 px-3 py-1">
          {{item.text|translate}}
        </li>
        }
      </ul>
      }@else {
      <p class="text-center">{{'no_result'|translate}}</p>
      }

    </div>

  </div>
</div>