<div class="container ">

  <div appShimmerLoading [loading]="loading" class="h-[350px] lg:h-[500px] ">
    <ng-container *ngIf="homeService.homeData$|async as slide">
      <app-slider [slides]="slide.sliders">
        <ng-template let-item="item" let-index="index" #swiperContent>
          <img class="rounded-[16px] w-[95%] mx-auto object-fill h-[350px] lg:h-[500px] " [src]="item.img" alt="photo"
            loading="lazy" draggable="false">
        </ng-template>
      </app-slider>
    </ng-container>
  </div>

  <!-- <lazy-loading-content> -->
  <section>
    <app-stores [items]="storeItems" />
  </section>
  <app-about-us />
  <app-client-reviews />
  <!-- </lazy-loading-content> -->
</div>