<main class="min-h-screen">
  <page-title pageHeading="contact_us"></page-title>
  <div class="container mt-10">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mb-6 min-h-fit">
      <div class="col-span-2 card-shadow rounded-md p-7">
        <h2 class="text-primary text-[20px]">
          {{'send_to_us'|translate}}
        </h2>
        <form [formGroup]="form" class="mt-5">
          <app-form-group [control]="form.get('full_name')">
            <label for="full_name">
              {{'full_name'|translate}}
            </label>
            <input formControlName="full_name" id="full_name" type="text" InputField
              [placeholder]="'full_name'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('email')">
            <label for="email">
              {{'email'|translate}}
            </label>
            <input formControlName="email" id="email" type="email" InputField [placeholder]="'email'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('message_type')">
            <label for="message_type">
              {{'message_type'|translate}}
            </label>
            <app-select [autocomplete]="true" formControlName="message_type" id="message_type"
              [placeholder]="'message_type'|translate" [items]="items" itemKey="name" itemValue="value"></app-select>
          </app-form-group>
          <app-form-group [control]="form.get('content')">
            <label for="initialItems">
              {{'message'|translate}}
            </label>
            <textarea rows="5" formControlName="content" id="content" InputField [placeholder]="'message'|translate"
              class="p-4"></textarea>
          </app-form-group>
          <div class="mt-9 w-[200px]">
            <app-button [loading]="loading" (click)="handleSubmit()">
              {{'send_message'|translate}}
            </app-button>
          </div>
        </form>
      </div>
      <div class="card-shadow rounded-md p-5">
        <h2 class="text-primary text-[20px]">
          {{'contact_info'|translate}}
        </h2>
        <ul class="mt-8">
          @for (item of contactLinks; track $index) {
          <li class="flex items-center gap-5 mb-4">
            <span
              class="w-[64px] h-[64px] border-dashed border-spacing-10 rounded-md border border-primary p-2 flex items-center justify-center">
          <li class="text-[30px] text-primary" [class]="item.icon"></li>
          </span>
          <div class="flex flex-col">
            <p class="text-[22px]">{{item.text|translate}}</p>
            <a class="text-[20px] text-gray-400" [href]="[item.href + (item.key&&contactInfo[item.key])]">
              {{item.key&&contactInfo&&contactInfo[item.key]}}
            </a>
          </div>
          </li>
          }
          <li class="flex items-center gap-5 mb-4">
            <span
              class="w-[64px] h-[64px] border-dashed border-spacing-10 rounded-md border border-primary p-2 flex items-center justify-center">
          <li class="text-[30px] text-primary fa-solid fa-location-dot"></li>
          </span>
          <div class="flex flex-col">
            <p class="text-[22px]">{{'address'|translate}}</p>
            <p class="text-[20px] text-gray-400">
              {{contactInfo&&contactInfo.address}}
            </p>
          </div>
          </li>
        </ul>
        <app-google-map class="mt-10"></app-google-map>
      </div>

    </div>
  </div>
</main>