<button (click)="scrollTo()"
  class="rounded-[50%] outline-none bg-primary h-12 w-12 shadow-lg fixed bottom-10 z-20 left-10 flex justify-center items-center">
  <i class="fa-solid fa-chevron-up text-lg text-white"></i>
</button>