<div class="mt-4 client-reviews">
  <section-title title="client_reviews" />
  <h2 class="mt-5 text-[30px] text-secondary">
    {{'wt_client_say_about_us'|translate}}
  </h2>
  <div class="my-10 ">
    <div class="flex items-center gap-5 space-x-reverse">
      <app-button (click)="handleNext()" class="btn-outline w-[50px] h-[50px] rounded-[50%]">
        <i class="fa-solid " [class]="[lang=='ar'?'fa-chevron-left':'fa-chevron-right']"></i>
      </app-button>
      <app-button (click)="handlePrev()" class="btn-outline w-[50px] h-[50px] rounded-[50%]">
        <i class="fa-solid fa-chevron-left" [class]="[lang=='ar'?'fa-chevron-right':'fa-chevron-left']"></i>
      </app-button>
    </div>

  </div>


  <app-slider [slides]="reviews" [breakPoints]="breakPoints" [navigation]="false">
    <ng-template let-item="item" let-index="index" #swiperContent>
      <client-card [client]="item" />
    </ng-template>

  </app-slider>
</div>