<div
  class="min-h-[190px] card-shadow p-5 gap-5 flex flex-wrap justify-between items-center relative overflow-hiddens mb-5 rounded-md">
  <img loading="lazy" [src]="item.country.flag" alt="flag" class="h-[39px] w-[80px] top-0 absolute"
    [class]="[lang=='ar'?'right-0':'left-0']">
  <div class="flex gap-3 items-center">
    <img loading="lazy" [src]="item.company_img " alt="photo" class="w-[122px] h-[122px] rounded-md">
    <div>
      <h2 class="text-[24px] text-secondary font-bold">
        {{item.name}}
      </h2>
      <div class="text-secondary text-[18px] flex items-center gap-2">
        <i class="fa-solid fa-building"></i>
        <span class="text-primary ">{{item.company_name}}</span>
      </div>
      <div class="text-secondary text-[18px] flex items-center gap-2 mt-2">
        <i class="fa-solid fa-location-dot"></i>
        <span>{{item.country.name}}</span>
      </div>
    </div>
  </div>
  @if (navigation) {
  <div class="w-[300px]">
    <!-- presenters/:id/details/:storeId -->
    <app-button (click)="redirect()" class="btn-outline w-full">
      {{'presenter_info'|translate}}
    </app-button>
  </div>

  }

</div>