<div class="wrapper">
  <!-- slides -->
  <div #slide class="carousel" [ngStyle]="customStyle">
    @for (item of slides; track $index;let lastIndex=$last) {
    <div #card class="card" draggable="false" [ngClass]="[$index === activeIndex?'active-slide':'']">
      <ng-container *ngTemplateOutlet="swiperContent; context: { item,index:$index}"></ng-container>
    </div>
    }
  </div>
  <!-- indicators -->
  @if (pagination) {
  <div
    class="w-full flex items-center justify-center max-w-full overflow-x-hidden gap-3 z-20 absolute bottom-5 pagination">
    @for (indicator of displayedIndicators; track $index) {
    <span (click)="goToSlide($index)" [ngClass]="{'active': displayedIndicators[$index]}"
      class="w-[10px] h-[10px] rounded-[50px] bg-light-gray inline-block cursor-pointer"></span>


    <!-- <span (click)="goToSlide($index)" [ngClass]="{'active':($index*visiblePerSlide) === activeIndex}"
      class="w-[10px] h-[10px] rounded-[50px] bg-light-gray inline-block cursor-pointer "></span> -->

    }
  </div>
  }

  <!-- navigation -->
  @if (navigation) {
  <app-button (click)="handleNext()"
    class="rounded-[50%] border-[4px] w-[60px] h-[60px] border-white absolute top-[50%] translate-y-[-25%] right-0">
    <i class="fa-solid fa-chevron-right"></i>
  </app-button>
  <app-button (click)="handlePrev()"
    class="rounded-[50%] border-[4px] w-[60px] h-[60px] border-white absolute top-[50%] translate-y-[-25%] left-0">
    <i class="fa-solid fa-chevron-left"></i>
  </app-button>
  }


</div>