@import "../../../../assets/scss/_mixin.scss";

.wrapper {
  position: relative;
  width: 100%;

  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: 0;
    }
  }
  .card {
    min-height: auto;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    cursor: grab;
    user-select: none;
  }
}
