<div class="min-h-[80px] rounded-[30px] shadow-lg flex items-center justify-center p-2">
  @for (item of tabs; track $index) {
  <button (click)="onSelectTab(item.text)"
    class="outline-none rounded-[30px] flex transition-all duration-300  flex-grow items-center justify-center h-[64px] text-lg"
    [class]="item.value===value?'bg-primary text-white':'bg-transparent text-gray'">
    {{item.text|translate}}
  </button>
  }
</div>