<top-bar />
<nav-bar />
<snack-bar />
<div class="mt-5 min-h-screen" [@fadeAnimation]="o.isActivated?o.activatedRoute:''">
  <router-outlet #o="outlet"></router-outlet>
</div>
<floating-button></floating-button>
<app-footer></app-footer>