<a [routerLink]="['/presenters',item.id,item.name]">
  <div
    class="cursor-pointer bg-no-repeat bg-cover  bg-bottom h-[404px] w-full rounded-[20px] shadow-sm transition-all duration-300 shadow-slate-200 relative overflow-hidden card hover:transition-all hover:duration-300 hover:shadow-md hover:shadow-slate-600"
    [ngStyle]="{'background-image':'url(' + item.image + ')'}">

    <div class="absolute w-full z-10 flex justify-center items-center flex-col bottom-20">
      <h2 class="text-white text-[32px]">
        {{item.name}}
      </h2>
      <div class="flex justify-center items-center gap-3">
        <img loading="lazy" class="w-[24px] h-[24px] rounded-[50%]" [src]="item.country&&item.country.flag"
          alt="country">
        <span class="text-white text-[20px]">
          {{item.country.name}}
        </span>
      </div>
    </div>
  </div>
</a>