:host {
  .card {
    &::after {
      content: "";
      z-index: 1;
      background: linear-gradient(180deg, rgba(17, 47, 56, 0.0672) 51.15%, rgba(17, 47, 56, 0.84) 100%);
      bottom: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}
