<main class="mt-10 ">
  <div class="container">
    <div class="lg:w-8/12 mx-auto card-shadow rounded-md p-5 ">

      <h2 class="text-[30px] text-center mb-5">
        {{'welcome'|translate}}
        <span class="text-primary">{{'saf'|translate}}</span>
      </h2>
      <form [formGroup]="form">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-3">
          <app-form-group [control]="form.get('f_name')">
            <label for="first_name">
              {{'first_name'|translate}}
            </label>
            <input formControlName="f_name" id="first_name" type="text" InputField
              [placeholder]="'enter_first_name'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('l_name')">
            <label for="last_name">
              {{'last_name'|translate}}
            </label>
            <input formControlName="l_name" id="last_name" type="text" InputField
              [placeholder]="'enter_last_name'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('email')">
            <label for="email">
              {{'email'|translate}}
            </label>
            <input formControlName="email" id="email" type="email" InputField [placeholder]="'enter_email'|translate">
          </app-form-group>
          <app-form-group [control]="form.get('phone')">
            <label for="phone">
              {{'phone'|translate}}
            </label>
            <input formControlName="phone" id="phone" type="number" InputField [placeholder]="'enter_phone'|translate">

          </app-form-group>
          <app-form-group [control]="form.get('country')">
            <label for="country">
              {{'country'|translate}}
            </label>
            <app-select [returnObject]="true" [autocomplete]="true" formControlName="country"
              [loading]="loadingCountries" id="country" [placeholder]="'choose_country'|translate" [items]="countries"
              itemKey="name" itemValue="id"></app-select>
          </app-form-group>
          <app-form-group [control]="form.get('sections')">
            <label for="sections">
              {{'sections'|translate}}
            </label>
            <app-select [multiple]="true" [autocomplete]="true" formControlName="sections" [loading]="loadingSections"
              id="sections" [placeholder]="'choose_sections'|translate" [items]="sections" itemKey="name"
              itemValue="id"></app-select>
          </app-form-group>
        </div>

        <div class="w-full lg:w-6/12 mx-auto mt-4">
          <app-button (click)="handleNext()">
            {{"next"|translate}}
          </app-button>
        </div>
      </form>

    </div>
  </div>
</main>