<div class="relative " (click)=" onToggleMenu()">
  <div class="flex justify-center items-center cursor-pointer gap-3">
    <ng-content select="[selected-item]"></ng-content>
    <i class="fa-solid fa-chevron-down transition-all duration-200 text-white mt-[-5px]"
      [class]="showMenu?'rotate-180':'rotate-0'"></i>
  </div>
  <div #menu class="absolute z-20 bg-white w-full max-h-[300px] overflow-y-auto shadow-md transition-all duration-200 "
    [class]="showMenu?'py-4 h-fit opacity-100':'p-0 h-0 opacity-0'">
    <ng-content select="[options]"></ng-content>



  </div>


</div>