/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.css";
@import "./assets/fonts/stylesheet.css";
* {
  letter-spacing: 0;
  font-family: "Tajawal";
  font-weight: 500;
  box-sizing: border-box !important;
}
@layer components {
  app-slider {
    .active {
      @apply bg-orange w-[30px] transition-all duration-300  rounded-[10px];
    }
  }

  .btn-primary {
    @apply bg-primary h-[48px] py-0 px-[16px] text-white capitalize rounded-[30px] w-full flex items-center justify-center text-[18px] transition-all duration-300 hover:shadow-md ease-linear hover:shadow-slate-400;
  }
  .btn-red {
    @apply bg-red-600 h-[48px] py-0 px-[16px] text-white capitalize rounded-[30px] w-full flex items-center justify-center text-[18px] transition-all duration-300 hover:shadow-md ease-linear hover:shadow-slate-400;
  }
  .btn-outline {
    @apply bg-white border-primary border text-primary hover:shadow-none hover:bg-primary hover:text-white;
  }
  .btn-outline-red {
    @apply bg-white border-red-600 border text-red-600 hover:shadow-none hover:bg-red-600 hover:text-white;
  }
  .active-link {
    @apply after:absolute after:bottom-0 after:w-[50%]  after:bg-primary after:block after:h-[4px] after:transition-all hover:after:w-full after:duration-300;
  }
  .input {
    @apply h-[46px] text-slate-400  outline rounded outline-none px-2 text-[18px] bg-transparent transition-all duration-200 focus:border-primary border-2  border-gray;
  }
  .input {
    @apply h-[46px] text-slate-400  outline rounded outline-none px-2 text-[18px] bg-transparent transition-all duration-200 focus:border-primary border-2  border-gray;
  }
  .input-field {
    @apply min-h-[46px]  text-slate-700  outline rounded-md outline-none px-3 text-[16px] bg-light-gray;
  }
}
.shimmer-loading {
  width: 100%;
  height: 20px; /* Adjust height as needed */
  background: linear-gradient(to right, #f6f7f8 0%, #d7dae25e 50%, #babec2 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px; /* Rounded corners */
}

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}

::-webkit-scrollbar {
  width: 5px;
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded;
}

app-client-reviews {
  .pagination {
    span {
      @apply border border-primary bg-white w-[10px] h-[10px];
      &.active {
        @apply bg-primary  w-[10px] h-[10px];
      }
    }
  }
  .unActive-quote {
    display: none;
  }
  .active-slide {
    .active-quote {
      display: none;
    }
    .unActive-quote {
      display: block;
    }

    .client-card {
      background: linear-gradient(111.54deg, #67bd23 4%, rgba(108, 203, 34, 0.68) 95.87%) !important;
      border-color: transparent !important;
      & * {
        color: white !important;
      }
    }
  }
}
.active-package {
  .package-card {
    @apply bg-primary;
    h2 {
      @apply text-white;
    }
    .hint-border {
      @apply bg-orange;
    }
    .price-duration {
      @apply text-orange;
    }
    .price {
      @apply text-white;
    }
    .subscription-button {
      @apply hover:bg-transparent hover:border-white hover:text-white bg-white text-primary;
    }
    .snippet {
      @apply text-white;
    }
    li {
      span {
        @apply text-white;
      }
    }
    .fa-check {
      @apply text-orange;
    }
  }
}
.active-section {
  img {
    @apply border-primary;
  }
  h3 {
    @apply text-primary;
  }
}

.card-shadow {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
/* Custom transition */
// @keyframes rotate-out {
//   to {
//     transform: rotate(90deg);
//   }
// }
// @keyframes rotate-in {
//   from {
//     transform: rotate(-90deg);
//   }
// }
// ::view-transition-old(count),
// ::view-transition-new(count) {
//   animation-duration: 200ms;
//   animation-name: -ua-view-transition-fade-in, rotate-in;
// }
// ::view-transition-old(count) {
//   animation-name: -ua-view-transition-fade-out, rotate-out;
// }
