@for (item of items; track $index) {
<div class="card-shadow rounded-md overflow-hidden min-h-fit mb-5">
  <div (click)="toggle($index)"
    class="flex items-center px-4 min-h-[60px] justify-between  cursor-pointer text-primary hover:bg-green-50 transition-all  duration-300"
    [class]="[isOpen($index)?'bg-green-200':'bg-transparent']">
    <h3 class="text-[20px]">
      {{item.question}}
    </h3>
    @if (isOpen($index)) {
    <i class="fa-solid fa-minus text-[20px]"></i>
    }@else {
    <i class="fa-solid fa-plus text-[20px]"></i>

    }
  </div>
  <div class=" px-4 text-gray text-[18px] leading-8 transition-all  duration-300"
    [class]="isOpen($index)?'py-4 h-fit':' h-0'">
    {{item.answer}}
  </div>
</div>
}