<div class="mt-10">
  <section-title>
    {{staticpage.title}}
  </section-title>
  <div class="flex gap-2 sm:flex-nowrap flex-wrap">
    <div class="w-full md:w-8/12">
      <h3 class="mt-10 text-[35px]  sm:text-start sm:text-[30px] lg:text-[40px]"
        [innerHTML]="'about_us_subtitle'|translate">
      </h3>
      <h2 class="text-primary mt-2 text-[30px]">
        {{'our_vision'|translate}}
      </h2>
      <p class="text-gray leading-10 font-normal mt-2 text-[26px]">
        {{content}}
      </p>
      @if (showMore) {
      <app-button (click)="handleShowMore()" class="btn-outline w-[200px] mt-5">
        {{'read_more'|translate}}
      </app-button>
      }

    </div>
    <div class="w-full md:w-4/12 ">
      <img loading="lazy" src="assets/images/about_us.svg" alt="about us">
    </div>
  </div>
</div>