<div class="flex justify-center">
  @if (showMessage) {
  <div [@slideYAnimation]="showMessage" [class]="errorColor"
    class="fixed z-[100000] top-9 w-fit shadow-2xl text-white text-[18px] flex items-center justify-center rounded p-3  ">
    {{errorMessage}}
  </div>
  }
</div>